<%= @context.branding[:business_name] %>
========================================

Thanks for your payment.

We received <%= @context.formatted_total %> for invoice <%= @context.invoice[:number] %>.

--
<%= @context.branding[:business_name] %>
Questions? <%= @context.branding[:support_email] %>
<%= if @context.branding[:company_address] do %><%= @context.branding[:company_address] %>
<% end %>