defmodule <%= @app_module %>.Repo.Migrations.RevokeAccrueEventsWrites do
  use Ecto.Migration

  @app_role "accrue_app"

  def up do
    execute "REVOKE UPDATE, DELETE, TRUNCATE ON accrue_events FROM #{@app_role}"
  end

  def down do
    execute "GRANT UPDATE, DELETE, TRUNCATE ON accrue_events TO #{@app_role}"
  end
end
