defmodule <%= @app_module %>.Repo.Migrations.RevokeAccrueEventsWrites do
  use Ecto.Migration

  @app_role "accrue_app"

  def up do
    events_table = Accrue.Migration.qualified_table(:accrue_events)
    execute "REVOKE UPDATE, DELETE, TRUNCATE ON #{events_table} FROM #{@app_role}"
  end

  def down do
    events_table = Accrue.Migration.qualified_table(:accrue_events)
    execute "GRANT UPDATE, DELETE, TRUNCATE ON #{events_table} TO #{@app_role}"
  end
end
